body{
    background-color: whitesmoke;
    place-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
fieldset {
    color: black;
    background-color: whitesmoke;
        width: 700px;
    border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,1.0);    
    

}